.input-choices__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-choices__choices-container {
    display: flex;
}

.choices-container {
    display: flex;
    flex-flow: column;
}


.choices-container .form-control label {
    float: left;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 26px;
    margin-bottom: 0;
    align-items: center;
}

.choices-container .form-control input {
    width: 50%;
}