.input-choices__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.title-container__title {
    font-size: 16px;
}

.button-container {
    display: flex;
    margin: 0 0.5rem;
}

.input-choices__choices-container {
    /* display: flex; */
}

.choices-container {
    display: flex;
    flex-flow: column;
}


.choices-container .form-control label {
    float: left;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 26px;
    margin-bottom: 0;
    align-items: center;
}

.choices-container .form-control input {
    width: 50%;
}

.multiple-choice__container {
    display: flex;
}

.multiple-choice__container .form-control {
    flex: 1;
    display: flex;
}

.multiple-choice__container .problem-form__katex-display-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.multiple-choice__container .problem-form__katex-display-container .katex {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-light2);
    border-radius: 15px;
}