.problem-item {
  margin: 1rem;
}

.problem-item__image {
  height: 300px; 
  margin-bottom: 15px;
}

.problem-item__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.problem__content {
  margin-top: 0;
}

.course__title {
    font-weight: 700;
    letter-spacing: 1px;
}

.problem__subdomain {}

.problem__katex {
    font-size: 18px;
}

.problem__katex .katex {
    display: inline-block;
}

.problem-item__problem .katex .katex-html {
    width:100%;
    line-break: anywhere;
}

.problem-item__problem .katex .katex-html .base{
    width: 100%;
    /* line-break: anywhere; */
    hyphens: auto;
    white-space: break-spaces;
    display: contents;
}

.problem-item__choices {
  list-style: lower-alpha;
  list-style-position: inside;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 18px;
  line-height: 32px;
}

.info__author {
  font-size: 14px;
}

.info__rating {
  font-size: 14px;
}

.info__courses-container {
  font-size: 14px;
  margin-bottom: 1rem;
}

.info__courses li:last-child:after {
  display: none;
}
@media (min-width: 768px) {

}
