.problem-item {
  margin: 1rem;
}

.problem__content {
  margin-top: 0;
}

.problem-item__choices {
  list-style: lower-alpha;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 18px;
  line-height: 32px;
}

.info__author {
  font-size: 14px;
}

.info__rating {
  font-size: 14px;
}

.info__courses-container {
  font-size: 14px;
}

.info__courses {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.info__courses li {
  margin-right: 10px;
  font-size: 14px;
  position: relative;
}

.info__courses li::after {
  content: ",";
  position: absolute;
  right: -3px;
  bottom: 0;
}

.info__courses li:last-child:after {
  display: none;
}
@media (min-width: 768px) {

}