.problem-list {
    list-style: none;
    margin: 2rem auto;
    padding: 0;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: minmax(100px, 33%) minmax(100px, 33%) minmax(100px, 33%);

  }
  