.dd-wrapper {
    position: relative;
    margin-right: 1rem;
}

.dd-header {
    margin-right: 0;
    transition: border-radius 500ms;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.dd_arrow {
    transition: transform 250ms ease-in-out;
}

.dd_arrow_flip {
    transform: rotate(180deg);
}

.dd-header__open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dd-header-title {
    margin-right: 1rem;
}

.dd-list {
    position: absolute;
    display: flex;
    flex-flow: column;
    z-index: 2;
    left: 0;
    right: 0;
    border: none;
    transition: border-color 500ms ease-in-out;
    background-color: var(--primary-dark2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dd-list-item {
    width: 100%;
    border-radius: 0;
    background-color: var(--primary-dark2);
    color: var(--light);
    padding: 5px 0;
    font-family: "Quicksand", sans-serif;
    border: none;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 1px 0.5px var(--primary-dark2);
    transition: text-shadow 250ms ease-in-out;
    transition: letter-spacing 250ms ease-in-out;
}

.dd-list-item:hover {
    text-shadow: 0.5px 0.5px var(--light);
    background: var(--primary-dark1);
    letter-spacing: 1px;
}

.dd-list-item.select-none:hover {
    background: var(--danger);
}

.dd-list-item.select-all:hover {
    background: var(--secondary-light1);
}

.dd-list-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.slide-from-top-enter {
    transform: translateY(-100%);
}

.slide-from-top-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
}

.slide-from-top-exit {
    transform: translateY(0%);
    opacity: 1;
}

.slide-from-top-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 200ms;
}
