.all-problems__container {
    max-width: var(--max-width);
    margin: 5rem auto 0 auto;
}

.container__title {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem;
}

.container__title h1 {
    margin-bottom: 0;
}

.container__title p {
    width: 50%;
    text-align: center;
}

.filter__container {
    display: flex;
    justify-content: center;
}