.problem-list.userProblems {
    margin: 2rem auto 5rem;
}

.your-problems__container {
    max-width: var(--max-width);
    margin: 5rem auto 0 auto;
}

.container__title-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}

.container__title-container h1,
.container__title-container p {
    margin: 0;
}

.container__title-container p {
    margin: 1rem 0;
    width: 50%;
    text-align: center;
}

