.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    background: var(--secondary);
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: var(--secondary-dark1);
    border-color:var(--secondary-dark1);
  }
  
  .button--inverse {
    background: var(--primary);
    color: var(--light);
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    background: var(--primary-dark1);
  }

  .button--round {
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .button--danger {
    background: var(--danger);
    border-color: var(--danger);
  }

  .button--warning {
    background: var(--warning);
    border-color: var(--warning);
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: var(--danger-dark);
    border-color: var(--danger-dark);
  }

  .button--warning:hover,
  .button--warning:active { 
    background: var(--warning-dark);
    border-color: var(--warning-dark);
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }