.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    background: var(--secondary);
    color: var(--light);
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
    transition: filter 300ms;
  }

  .button .svg-inline--fa {
      color: var(--light);
  }


  .button .svg-inline--fa:hover {
    color: var(--light);
}
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    filter: brightness(1.2);
  }
  
  .button--primary {
    background: var(--primary);
    color: var(--light);
  }
  
  .button--primary:hover,
  .button--primary:active {
    background: var(--primary-light1);
  }

  .button--round {
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .button--danger {
    background: var(--danger);
    border-color: var(--danger);
    transition: filter 300ms;
  }

  .button--warning {
    background: var(--warning);
    border-color: var(--warning);
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: var(--danger-light);
    border-color: var(--danger-light);
    filter: brightness(1.2);
  }

  .button--warning:hover,
  .button--warning:active { 
    background: var(--warning-dark);
    border-color: var(--warning-dark);
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }