.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-flow: column;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.6);

    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--secondary);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button .svg-inline--fa {
    height: 1.25rem;
}

.nav-item-children-enter {
    position: absolute;
    top: 65px;
    right: 0;
    transform: translateY(-150%);
}
.nav-item-children-enter-active {
    transform: translateY(0%);
    transition: all var(--speed) ease;
}
.nav-item-children-exit {
    position: absolute;
    top: 65px;
    right: 0;
}
.nav-item-children-exit-active {
    transform: translateY(-150%);
    transition: all var(--speed) ease;
}

.nav-item-children-enter-done {
    position: absolute;
    top: 65px;
    right: 0;
}

.nav-item .icon-button .svg-inline--fa:first-child {
    transform: rotate(0deg);
    transition: transform 500ms ease-in-out;
}

.nav-item__open .icon-button .svg-inline--fa:first-child {
    transform: rotate(180deg);
    transition: transform 500ms ease-in-out;
}

