@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

:root {
    --light: #edf6fc; /* Alice Blue */
    --light-2: #cbe5f6; /* Columbia Blue*/
    --dark: #061523; /* Rich Black FOGRA 29*/
    --dark-2: #030b12; /* Rich Black FOGRA 29 */

    /* PRIMARY COLOR IS YALE BLUE */
    --primary: #124e78; /* Yale Blue */
    --primary-dark1: #0d3959; /* Indigo Dye*/
    --primary-dark2: #082235; /* Prussian Blue */

    --primary-light1: #1867a0; /* Sapphire Blue */
    --primary-light2: #1b73b1; /* Spanish Blue */

    /* SECONDARY COLOR IS BOTTLE GREEN*/

    --secondary: #106a54; /* Bottle Green */
    --secondary-dark1: #0a4738; /* Brunswick Green */
    --secondary-dark2: #08362a; /* Phthalo Green */

    --secondary-light1: #168d6f; /* Illuminating Emerald */
    --secondary-light2: #1cb08b; /* Jungle Green */

    /* --danger: #b1271b; /* Carnelian*/
    --danger: #6a1710; /* Carnelian*/
    --danger-dark: #8e1f15; /* Kobe*/
    --danger-light: #8e1f15;

    /*--warning: #ffb41f; /* Honey Yellow*/
    /*--warning-dark: #e09600; /* Gamboge*/
    --warning: #c68f22; /* Dark Goldenrod*/
    --warning-dark: #ae7e1e; /* Gold*/

    --text-color: #061523;
    --bg: #124e78;
    --bg-accent: #0d3959;
    --nav-size: 72px;
    --border: 1px solid #0d3959;
    --border-radius: 8px;
    --max-width: 1440px;
    --speed: 500ms;

    /* MAIN NAVIGATION VARIABLES  */
    --navigation-height: 4.5rem;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Quicksand", sans-serif;
    overflow-y: scroll;
}

h1 {
    font-size: 44px;
    line-height: 52.8px;
}

h2 {
    font-size: 36px;
    line-height: 43.2px;
}
h3 {
    font-size: 28px;
    line-height: 33.6px;
}

p {
    font-size: 22px;
    line-height: 26.4px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--light);
    text-decoration: none;
}

#root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

body {
    margin: 0;
    background: var(--light);
}

.slide-in-left-enter {
    transform: translateX(-100%);
}

.slide-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 200ms;
}

.slide-in-left-exit {
    transform: translateX(0%);
    opacity: 1;
}

.slide-in-left-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 200ms;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frac {
    font-size: 24px;
}

.secondary {
    color: var(--secondary);
}

.light-2 {
    color: var(--light-2);
}

.light {
    color: var(--light);
}

.dark {
    color: var(--dark);
}

.dark-2 {
    color: var(--dark-2);
}

.primary-light2 {
    color: var(--primary-light2);
}

.svg-icon path {
    fill: currentColor;
}

.clone-icon {
    color: var(--primary);
}

.pencil-icon {
    color: var(--secondary);
}

.circleX-icon {
    color: var(--danger);
}
