.full-width-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: inherit;
}

.full-width-container__content {
    grid-column: 2/-2;
}

.full-width-container__title {
    margin-bottom: 0;
}

.full-width-container__body {
    font-size: 24px;
    line-height: 34px;
}

