.full-width-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
}

.full-width-container__content {
    grid-column: 2/-2;
    margin: 3rem 0;
}

.full-width-container__title {
    margin-bottom: 0;
}

.full-width-container__body {
    font-size: 24px;
    line-height: 34px;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mb-0 {
    margin-bottom: 0;
}

