.katex-example-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 10rem;
}

.katex-example {
    grid-column: 2/-2;
}

.katex-example__title {
    margin-bottom: 0;
}

.katex-example__display-expression {
    grid-column: 2/3;
    padding: 20px 40px 20px 0;
}

.katex-example__display-expression p,
.katex-example__display-katex p {
    font-size: 24px;
    line-height: 34px;
}

.display-expression {
    padding: 10px 20px
}

.katex-example__display-katex {
    grid-column: 3/4;
    padding: 20px;
}

.katex-example__display-katex {
    margin-bottom: 3rem;
}

.katex-example__display-katex .katex {
    font-size: 28px;
    line-height: 38px;
    margin-left: 1rem;
}

.display-katex__inlineTex {
    margin-left: 2rem;
}